@model E_Library.Controllers.BookCategoryController
<body>
    <div>
		<form asp-action = "CreateCategory">
            <label>
				Category Name
			</label>
			<input type = "text" name = "Category" required/>
		<div>
			<input type = "submit" value = "Create" required/>
		</div>

        </form>
        
    </div>
</body>
